*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    font-size: 30px;
    color: #191970;
    font-weight: bold;
}
nav ul li{
    padding: 10px;
}
nav ul li a{
    display: inline-block;
    font-size: 18px !important;
    color: #444 !important;
    font-weight: 500 !important;
}
nav .cart-icon{
    position: relative;
}
nav .cart-icon a{
    display: inline-block;
    color: #191970 !important;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
}
nav .cart-icon span{
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    background: #EF6262;
    border: 1px solid #EF6262;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    right: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
#shopping-part{
    background: #fff;
    padding: 40px 0;
}
#shopping-part .header h1{
    font-size: 40px;
    color: #191970;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
#shopping-part .products{
    background: #f5f5f5;
    transition: .5s;
}
#shopping-part .products .img{
    width: 236px;
    height: 236px;
    padding: 10px;
    text-align: center;
}
#shopping-part .products .img img{
    width: 100%;
    height: 100%;
}
.p-name h4{
    font-size: 20px;
    color: #444;
    font-weight: 700;
}
.price{
    font-size: 16px;
    color: #444;
    font-weight: 600;
    padding: 0 10px;
}
.cart-btn #cart,
.cart-btn #cart2,
.cart-btn #cart3,
.cart-btn #cart4{
    background: #191970;
    border: 1px solid #191970;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;

}
#shopping-part .products:hover{
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.6);;
}


/* Cart part  */
#cart-part{
    background: #f5f5f5;
}
#cart-part .cart-product{
    background: #f5f5f5;
    padding: 40px 0;
}
#cart-part .cart-product .title h2{
    font-size: 30px;
    color: #000;
    font-weight: 600;
}
#cart-part .cart-product .left-part{
    background: #fff;
    padding: 20px;
}
#cart-part .cart-product .left-part h6{
    font-size: 16px;
    color: #777;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#cart-part .cart-product .left-part p{
    font-size: 18px;
    color: #444;
    font-weight: 600;
    text-align: center;
}
#cart-part .cart-product .left-part .remove span{
    cursor: pointer;
    transition: .4s;
}
#cart-part .cart-product .left-part .remove span:hover{
    color: #EF6262;
}
#cart-part .cart-product .left-part input{
    width: 30px;
    margin: 0 10px;
}
#cart-part .cart-product .left-part .item .img{
    width: 50px;
    height: 50px;
}
#cart-part .cart-product .left-part .item .img img{
    width: 100%;
    height: 100%;
}
#cart-part .cart-product .left-part .item h4{
    font-size: 18px;
    color: #444;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
}
#cart-part .cart-product .right-part{
    background: #fff;
    padding: 20px;
}
#cart-part .cart-product .right-part .title h5{
    font-size: 24px;
    color: #000;
    font-weight: 700;
}
#cart-part .cart-product .right-part p{
    font-size: 18px;
    color: #444;
    font-weight: 600;
    text-transform: uppercase;
}
#cart-part .cart-product .right-part span{
    font-size: 18px;
    color: #444;
    font-weight: 600;
}